body {
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body.started {
  overflow: hidden;
}

* {
  font-family: 'PT Sans', sans-serif;
}

header {
  margin: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.started header {
  display: none;
}

header div, header h1 {
  width: 100%;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
  color: #fff;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size: 4em;
}

img {
  max-width: 33vh;
  display: block;
  margin:  auto;
}

button {
  outline: none;
  font-family: 'PT Sans Caption', sans-serif;
  color: #fff;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  padding: .5em;
  cursor: pointer;
  font-size: 2em;
}

button:hover {
  background: rgba(255, 255, 255, .7);
}

main {
  background: #fff;
  color: #000;
  padding: 1em;
  margin: 0;
}

p, h3, .rating {
  max-width: 600px;
  margin: .5em auto;
}

a {
  color: #008499;
  text-decoration: none;
}

a:hover {
  color: #3baec4;
}

h3 {
  font-family: 'PT Sans Caption', sans-serif;
}

.started main {
  display: none;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}

.started canvas {
  z-index: initial;
}

ins {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, .7);
}

.rating {
  display: block;
}

.rating:before {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  color: #e52;
  display: block;
}

.rating.five:before {
  content: '\2605 \2605 \2605 \2605 \2605 ';
}
.rating.four:before {
  content: '\2605 \2605 \2605 \2605 \2606 ';
}
.rating.three:before {
  content: '\2605 \2605 \2605 \2606 \2606 ';
}
.rating.two:before {
  content: '\2605 \2605 \2606 \2606 \2606 ';
}
.rating.one:before {
  content: '\2605 \2606 \2606 \2606 \2606 ';
}
.rating.zero:before {
  content: '\2606 \2606 \2606 \2606 \2606 ';
}
