body {
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div {
  font-family: 'Ubuntu Mono', monospace;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

ins {
  position: absolute;
  bottom: 0;
  width: 100% !important;
  /* background: #ccc; */
}
